<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoGuessr Buddy</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='/favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    {% block headers %}
    {% endblock %}
    <style>

        :root {
            --background-color: linear-gradient(180deg, #1a1a2e 0%, #10101c 100%);
            --primary-color: #fecd19;
        }

        .hidden {
            display: none;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: var(--background-color);
            color: #333;

            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        main {
            flex: 1;
            padding: 30px;
        }

        header {
            background: #333;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }

        header h1 {
            margin: 0;
        }

        #logo {
            width: 100px; /* Adjust as needed */
            border-radius: 50%;
        }

        footer {
            background: #333;
            color: #bbb;
            text-align: center;
            justify-content: center;
            // padding: 10px 0; // Padding leads to a vertical scrollbar
            display: flex;
            gap: 20px;
            width: 100%;
        }

        footer a {
            margin: 0;
            color: #fff;
            text-decoration: none;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px;
        }

        header a {
            color: #fff;
            text-decoration: none;
        }

        .center {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        .flex-column {
            flex-direction: column;
        }

        .flex-row {
            flex-direction: row;
        }

        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24
        }
    </style>
    {% block styles %}
    {% endblock %}
</head>
<body>
    <header>
        <a href="/" class="center">
            <img src="{{ url_for('static', path='/logo.png') }}" alt="Logo" id="logo">
            <h1>GeoGuessr Buddy</h1>
        </a>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="center flex-row">
            <a href="/about">About</a>|
            <a href="/legal">Legal</a>|
            <a href="/contact">Contact</a>
        </div>
    </footer>

    {% block scripts %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
