{% extends "base.html" %}
{% block headers %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js" integrity="sha512-zInFF17qBFVvvvFpIfeBzo7Tj7+rQxLeTJDmbxjBz5/zIr89YVbTNelNhdTT+/DCrxoVzBeUPVFJsczKbB7sew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
{% block styles %}
<style>
    #map {
        height: 40vh;
    }

    .rounds-table tbody tr {
        cursor: pointer;
    }

    p.points {
        font-size: 1.5em;
        font-weight: bold;
        color: #333;
    }

    .player-marker {
        border-radius: 50%;
    }

    .actual-points {
        color: #fecd19;
        font-size: 2em;
    }

    .points {
        color: var(--bs-tertiary-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .progress-bar-colored {
        background-color: var(--primary-color) !important;
    }

</style>
{% endblock %}

{% block content %}
    <table class="table">
<!--        <tr>-->
<!--            <th>Game ID</th>-->
<!--            <td>{{ game.gameId }}</td>-->
<!--        </tr>-->
        <tr>
            <th>Map</th>
            <td>{{ game.mapName }}</td>
        </tr>
        <tr>
            <th>Game Mode</th>
            <td>{{ game.gameMode | default('Bulls-eye') }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td id="startTime"></td>
        </tr>
        <tr>
            <th>Round Time</th>
            <td>{{ game.options.roundTime | duration }}</td>
        </tr>
        <tr>
            <th>Totla Time</th>
            <td>{{ game.total_time | duration }}</td>
        </tr>
        <tr>
            <th>Players</th>
            <td style="display: flex; gap: 10px">
                {% for player in players %}
                <div class="player" data-player-id="{{ player._id }}">
                    <img src="{{ player.avatar }}" alt="{{ player.name }}" title="{{ player.name }}" width="20" height="20" style="border-radius: 50%; box-sizing: content-box">
                    {{ player.name }}
                </div>
                {% endfor %}
            </td>
        </tr>
    </table>
    <div id="map"></div>
    <div class="center">
        <div class="points">
            <span class="actual-points">{{ game.actual_points }} </span> / {{ game.max_points }} points
        </div>
    </div>
    <div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-colored" style="width: {{ 100 * (game.actual_points / game.max_points) }}%"></div>
        </div>
    </div>
    <table class="table rounds-table table-hover">
        <thead>
            <tr>
                <th>Round</th>
                <th>Best Circle</th>
                <th>Score</th>
                <th>Distance</th>
            </tr>
        </thead>
        {% for round in game.rounds %}
            <tr onclick="selectRound({{ loop.index0 }})">
                <td>{{ round.roundNumber }}</td>
                <td>{{ {5000: "bulls-eye", 4000: "mini", 3000: "small", 2000: "medium", 1000: "large", 500: "ultra", 0: "-"}[round.score.points] | upper }}</td>
                <td>{{ round.score.points }}</td>
                <td>{{ round.score.distance | m_to_km }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
<script>
    const rounds = {{ game.rounds | tojson }};
    const players = {{ game.players | tojson }};
    const playersData = {{ players | tojson}};
    const playersMap = {};
    for (const player of playersData) {
        playersMap[player._id] = player;
    }
    const playersColorMap = {};
    for (const player of playersData) {
        // TODO: random color, but same color for same player
        playersColorMap[player._id] = chroma.random().hex();
    }
    // color avatar with round border
    const playerElements = document.getElementsByClassName('player');
    for (const playerElement of playerElements) {
        const playerId = playerElement.dataset.playerId;
        const playerColor = playersColorMap[playerId];
        console.log(`playerId: ${playerId}, playerColor: ${playerColor}`)
        const imgElement = playerElement.getElementsByTagName('img')[0];
        imgElement.style.border = `4px solid ${playerColor}`;
    }


    const mapSlug = "{{ game.options.mapSlug }}";

    const radiusMaps = {
        "world": {0: 300, 1: 21140, 2: 66830, 3: 177400, 4: 483500, 5: 1489500},
        "germany": {0: 300, 1: 3763, 2: 11365, 3: 29770, 4: 80600, 5: 247869}
    }
    const radiusMap = radiusMaps[mapSlug] || radiusMaps["world"];


    const tableRows = document.querySelectorAll('.rounds-table tbody tr');

    const correctLocation = L.icon({
        iconUrl: '/static/correct-location.webp',
        iconSize: [20, 20],
        iconAnchor: [10, 10],
        popupAnchor: [0, -10],
        className: 'correct-location',
    });
    const playerMarkers = {};
    for (const player of playersData) {
        playerMarkers[player._id] = L.icon({
            iconUrl: player.avatar,
            iconSize: [20, 20],
            iconAnchor: [10, 10],
            popupAnchor: [0, -10],
            className: 'player-marker',
        });
    }

    const map = L.map('map').setView([51.505, -0.09], 6);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // fill table
    // datetime
    const start = new Date({{ game.rounds[0].startTime }});
    const startDate = start.toLocaleDateString()
    const startTime = start.toLocaleTimeString();
    const startContainer = document.getElementById('startTime');
    startContainer.innerText = `${startDate} ${startTime}`;

    function selectRound(index) {
        // set url
        const url = new URL(window.location.href);
        url.searchParams.set('round', '' + index);
        window.history.pushState({}, '', url);


        // highlight selected row
        tableRows.forEach((row) => {
            row.classList.remove('table-primary');
        });
        tableRows[index].classList.add('table-primary');

        // show round on map
        const roundData = rounds[index];
        const lat = roundData.panorama.lat;
        const lng = roundData.panorama.lng;
        const markers = [];
        // clear map
        map.eachLayer(function (layer) {
            if (layer instanceof L.Marker) {
                map.removeLayer(layer);
            }
            if (layer instanceof L.Polyline) {
                map.removeLayer(layer);
            }
            if (layer instanceof L.Circle) {
                map.removeLayer(layer);
            }
        });
        const targetMarker = L.marker([lat, lng], {
            icon: correctLocation,
            zIndexOffset: 1000,
        }).addTo(map);
        markers.push(targetMarker);
        map.setView([lat, lng], 6, {animate: false});

        let smallestCircleSize = 10;
        let smallestCircle = null;

        // show player markers
        for (const player of players) {
            for (const playerRound of player.guesses) {
                if (playerRound.roundNumber === index + 1) {
                    const playerMarker = L.marker([playerRound.lat, playerRound.lng], {
                        icon: playerMarkers[player.playerId],
                        zIndexOffset: 1000,
                    }).addTo(map);
                    const playerName = playersMap[player.playerId].name;
                    playerMarker.bindPopup(`<b>${playerName}</b><br>${JSON.stringify(playerRound)}<br>${playerRound.score.distance} m`);
                    markers.push(playerMarker);
                    // draw circle around marker with radius based on size ( 1 - 5)

                    const radius = radiusMap[playerRound.size];
                    // color is red if score.isAnswerWithinRadius is false
                    const color = playerRound.score.isAnswerWithinRadius ? 'green' : 'red';
                    const circle = L.circle([playerRound.lat, playerRound.lng], {
                        color: color,
                        fillColor: color,
                        fillOpacity: 0.3,
                        radius: radius,
                        weight: 1,
                    }).addTo(map);
                    if (playerRound.size < smallestCircleSize && playerRound.score.isAnswerWithinRadius) {
                        smallestCircleSize = playerRound.size;
                        smallestCircle = circle;
                    }
                    // draw dotted line between marker and guess in grey
                    const line = L.polyline([[playerRound.lat, playerRound.lng], [lat, lng]], {
                        color: 'grey',
                        dashArray: '5, 5',
                        weight: 1,
                    }).addTo(map);

                }
            }
        }
        let groupObjects = markers;
        if (smallestCircle) {
            // set options zIndexOffset to 500
            smallestCircle.options.zIndexOffset = 500;
            groupObjects = [smallestCircle]
        }
        const group = new L.featureGroup(groupObjects);
        map.fitBounds(group.getBounds());

        // fetch movement data
        fetch(`/api/game/{{ game.gameId }}/round/${index + 1}/movement`)
            .then(response => response.json())
            .then(data => {
                const movementPlayers = {};
                for (const playerMoves of data) {
                    movementPlayers[playerMoves.player_id] = playerMoves.moves;
                }
                // show movement
                for (const player of players) {
                    const playerMovement = movementPlayers[player.playerId];
                    if (playerMovement) {
                        // transform data from {timestamp: int, movement: {lat: float, lng: float}}[] to {lat: float, lng: float}[]
                        const points = [];
                        for (const move of playerMovement) {
                            points.push([move.location.lng, move.location.lat]);
                        }
                        const line = L.polyline(points, {
                            color: playersColorMap[player.playerId],
                            weight: 10,
                        }).addTo(map);
                        map.fitBounds(line.getBounds());
                    }
                }
            });
    }

    document.addEventListener('DOMContentLoaded', function() {
        // load round from url if present
        const urlParams = new URLSearchParams(window.location.search);
        const round = urlParams.get('round');
        if (round) {
            try {
                selectRound(parseInt(round));
            } catch (e) {
                console.error(e);
                selectRound(0);
            }
        } else {
            selectRound(0);
        }
    });
</script>
{% endblock %}
5 - D
