{% extends "base.html" %}

{% block styles %}
<style>
    tbody tr {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<h1><img src="{{ player.avatar }}" alt="Avatar" class="avatar" style="border-radius: 50%"> {{ player.name }}</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Map</th>
        <th>Game Mode</th>
        <th>Created</th>
        <th>Round Time</th>
        <th>Players</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
    <tr onclick="window.location.href = '/game/{{ game._id }}'">
        <td>{{ game.map }}</td>
        <td>{{ game.mode }}</td>
        <td class="startTime">{{ game.datetime }}</td>
        <td>{{ game.game_options["roundTime"] | duration }}</td>
        <td>
            {% for player in game.players %}
            <img src="{{ player.avatar }}" alt="{{ player.name }}" title="{{ player.name }}" width="20" height="20"
                 style="border-radius: 50%;">
            {{ player.name }}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    document.onreadystatechange = function () {
        if (document.readyState === 'complete') {
            const startTimes = document.getElementsByClassName("startTime");
            console.log(startTimes)
            for (let startTime of startTimes) {
                const text = startTime.innerHTML;
                const timestamp = parseInt(text)
                startTime.innerHTML = new Date(timestamp).toLocaleString();
                console.log(startTime.innerHTML)
            }

            // store game.id in localStorage
            localStorage.setItem("playerId", "{{ player._id }}");
        }
    }

</script>
{% endblock %}
