{% extends "base.html" %}

{% block content %}

<a href="/plugin/download/latest.xpi" class="btn btn-primary">Install Web Extension</a>

<a id="my-profile" href="" class="btn btn-primary" style="display: none">My Games</a>

{% endblock %}

{% block scripts %}
<script>
    document.onreadystatechange = function () {
        if (document.readyState === 'complete') {
            const playerId = localStorage.getItem("playerId");
            if (playerId) {
                const myProfile = document.getElementById("my-profile");
                myProfile.href = "/player/" + playerId;
                myProfile.style.display = "block";
            }
        }
    }
</script>
{% endblock %}
